# Local experimental data directory
# Example:
# ATS_DATA_ROOT=local_data_directory_here  :  i.e. ATS_DATA_ROOT=C:\Users\YourName\FileName

# Emotiv Cortex API credentials
EMOTIV_CLIENT_ID=your_client_id_here
EMOTIV_CLIENT_SECRET=your_client_secret_here
